body {
    background-color: grey;
}
.grid-container {
    margin: 0 auto;
    background-color: darkred;
    width: 1000px;
    display: grid;
    grid-template-areas: 
"header header header header header"
"nav nav nav nav nav"
"whitebar whitebar whitebar whitebar whitebar"
"banner1 banner1 banner1 banner1 banner1"
"img img img img img"
"footer footer footer footer footer";
}
.header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36b2d8;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  li a:hover:not(.active) {
    background-color: white;
  }
  
  li a.active {
    background-color: blue;
  }
.nav {
    background-color: #36b2d8;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}
.nav-Home {
    background-color: #d3721d;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 250px;
    align-items: center; 
    list-style-type: none;
}
.nav-CDA {
    background-color: #d3721d;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 75px;
    align-items: center; 
    list-style-type: none;
}
.nav-VVD {
    background-color: #d3721d;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-left: 75px;
    align-items: center; 
    list-style-type: none;
}
.nav-D66 {
    background-color: #d3721d;
    grid-column-start: 4;
    grid-column-end: 4;
    margin-left: 75px;
    align-items: center; 
    list-style-type: none;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}
h2 {
    font-family: 'Noto Sans', sans-serif;
}
.banner1 {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
}
.cda {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    float: left;
}
.vvd {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    float:right;
}
.img {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 6;
}
.d66 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    float: left;
}
.pvda {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
    float:right;
}
footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
    align-items: center; /* center content horizontaal */
    justify-content: center; /* center content verticaal */
    background-color: #36b2d8;
    text-align: center;
}
.TK {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #36b2d8;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.LogoCDA {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: #d3721d;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.WhiteBar {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: darkred;
    color: darkred;
    height: 50px;
}
.imgcda {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 1000px;
}
.cdalogo {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 6;
}
.vetplant {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 420px;
    height: 200px;
}
.zomerplant {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 420px;
    height: 200px;
    margin-left: 155px;
}
.harry {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}
.ImgVVDTop {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
    width: 1010px;
}
.klaas {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.jan-remco {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.bas {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 6;
}
.ImgVVDBot {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 450px;
}
.sophie {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
.dilan-judith {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.ockje {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 6;
}
#stemWijzer {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 3;
    width: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.WhiteBar2 {
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
    color: white;
    height: 100px;
}
#Btn3 {
    float: right;
}
.logo {
    width: 360px;
    height: 150px;
}
.VetPlant {
    margin-left: 10px;
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    float: left;
}
.ZomerPlant {
    float: left;
    grid-row: 5;
    grid-column-start: 4;
    grid-column-end: 6;
}
.Lentetekst {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 400px;
}
.LenteLinks{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 300px;
    height: 600px;
}
.LenteRechts1{
    grid-row: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 300px;
    height: 200px;
}
.LenteRechts2{
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 300px;
    height: 200px;
}

.LenteRechts3{
    grid-row: 5;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 300px;
    height: 200px;
}
.Plant {
    text-align: right;
}
