body {
    background-color: grey;
}
.grid-container {
    margin: 0 auto;
    background-color: darkred;
    width: 1000px;
    display: grid;
    grid-template-areas: 
"header header header header header"
"nav nav nav nav nav"
"whitebar whitebar whitebar whitebar whitebar"
"banner1 banner1 banner1 banner1 banner1"
"img img img img img"
"footer footer footer footer footer";
}
.header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36b2d8;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  li a:hover:not(.active) {
    background-color: white;
  }
  
  li a.active {
    background-color: blue;
  }
.nav {
    background-color: #36b2d8;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}
.nav-Zomerplant {
    background-color: #d3721d;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 190px;
    align-items: center; 
    list-style-type: none;
}
.nav-Lenteplant {
    background-color: #d3721d;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 75px;
    align-items: center; 
    list-style-type: none;
}
.nav-Cactus {
    background-color: #d3721d;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-left: 75px;
    align-items: center; 
    list-style-type: none;
}
.nav-Rozen {
    background-color: #d3721d;
    grid-column-start: 4;
    grid-column-end: 4;
    margin-left: 75px;
    align-items: center; 
    list-style-type: none;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    text-align: center;
}
h2 {
    font-family: 'Noto Sans', sans-serif;
}
footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
    align-items: center; /* center content horizontaal */
    justify-content: center; /* center content verticaal */
    background-color: #36b2d8;
    text-align: center;
}
.WhiteBar {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: darkred;
    color: darkred;
    height: 50px;
}
.imgcda {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 1000px;
}
.vetplant {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 420px;
    height: 200px;
}
.zomerplant {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 420px;
    height: 200px;
    margin-left: 155px;
}
.logo {
    width: 360px;
    height: 150px;
}
.VetPlant {
    margin-left: 10px;
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    float: left;
}
.ZomerPlant {
    float: left;
    grid-row: 5;
    grid-column-start: 4;
    grid-column-end: 6;
}
.Lentetekst {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 400px;
}
.LenteLinks{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 300px;
    height: 600px;
}
.LenteRechts1{
    grid-row: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 300px;
    height: 200px;
}
.LenteRechts2{
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 300px;
    height: 200px;
}
.LenteRechts3{
    grid-row: 5;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 300px;
    height: 200px;
}
.Plant {
    text-align: right;
}
.Cactus1 {
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 3;
    width: 1000px;
    height: 100px;
    margin-bottom: 10px;
}
.Cactus2 {
    margin-top: 10px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 5;
    width: 1000px;
    height: 100px;
    margin-bottom: 20px;
}
.Cactustekst1 {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(82, 15, 15);
    color: white;
}
.Cactustekst2 {
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: rgb(82, 15, 15);
    color: white;
}
.Lefttekst {
    background-color: black;
}
.Righttekst {
    background-color: black;
}
.Top1 {
    width: 300px;
    height: 80px;
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 3;
    margin-bottom: 10px;
}
.Top2 {
    width: 360px;
    height: 80px;
    margin-top: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 3;
    margin-bottom: 10px;
}
.Top3 {
    width: 300px;
    height: 80px;
    margin-top: 20px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row: 3;
    margin-bottom: 10px;
}
.Tekst4 {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 6;
}
.Bot1 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 500px;
    height: 380px;
}
.Bot2 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;
    width: 300px;
    height: 380px;
}
.Botklein1 {
    grid-row: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 90px;
    height: 190px;
}
.Botklein2 {
    grid-row: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 90px;
    height: 190px;
}
.bottom {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
}
.midtekst {
    text-align: center;
}